* {
  margin: 0;
  padding: 0;
  font-family: "Inter Tight", sans-serif;
  font-size: 16px;
}

/* matikan scroll ke kanan dan ke kiri */

/* CSS for Hero Image */
.hero-image {
  background-image: url("img/close-up-milk-from-goats.jpg"); /* Replace the URL with your actual image */
  background-size: cover;
  background-position: center;
  height: 100vh;
  overflow: hidden;
  /* jika ada konten yang melebihi harap mengaturnya */
}

.hero-text {
  padding-top: 100px; /* Adjust as per your requirement */
  color: white;
}

.box-img-logo {
  margin-top: 5%;
}

.img-logo {
  width: 125px;
  height: 125px;
  object-fit: cover;

  margin: 10px;
}

.cv {
  display: inline-block;
  padding: 5px;
  color: rgb(41, 41, 148);
  font-weight: bolder;
  font-size: 24px;
  border-radius: 10px;
  background-color: #fff;
}

.description {
  font-family: "Madimi One", sans-serif;
  color: white;
  font-weight: bolder;
  font-size: 50px;
  width: 70%;
  line-height: 120%;
  text-shadow: -4px -4px 0 rgb(41, 41, 148), 4px -4px 0 rgb(41, 41, 148),
    -4px 4px 0 rgb(41, 41, 148), 4px 4px 0 rgb(41, 41, 148);
}

.callme {
  text-decoration: none;
  list-style: none;
  background-color: rgb(41, 41, 148);
  color: white;
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-radius: 10px;
}

.callme:hover {
  background-color: white;
  color: rgb(41, 41, 148);
}

.box-brand-bottom {
  margin-top: 5%;
}

.brand-bottom {
  color: white;
  font-size: 30px;
  font-weight: bold;
}

/* CSS for responsiveness */
@media (max-width: 768px) {
  .hero-text {
    padding-top: 60px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .img-logo {
    width: 70px;
    height: 70px;
  }

  .description {
    align-items: center;
    text-align: center;
    font-size: 45px;
    width: 100%;
  }

  .box-img-logo {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .brand-bottom {
    margin-top: 50px;
    font-size: 25px;
  }
}
